$h1-color:white;
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.card-deck {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}
.card {
    -ms-flex: 1 0 0%;
    flex: 0 0 0%;
    width: 700px;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
}
.card-img, .card-img-top {
    width: 200px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.card-title {
    margin-bottom: .75rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
h1 {
    text-align: center;
    color: $h1-color;
}